@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,400;0,500;0,700;1,200&display=swap');

.send-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-left: 2%;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #00111c;
}

.inputContainer input {
  width: 70%;
  height: 50px;
  color: #00111c;
}

.textInput {
  border: 2.5px solid #00111c;
}

.textInput::placeholder {
  color: #00111c;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

.send-icon {
  margin-bottom: 14px;
  color: #00111c;
  border-radius: 5px;
  transition: 200ms linear all;
}

.send-icon:hover {
  transform: translateX(5px);
}
