.item {
  background-color: #ffffff;
  border-radius: 7px;
  margin-top: 10px;
  height: fit-content;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.75);
  position: relative;
  font-family: 'Ubuntu', sans-serif;
}

.item-drag {
  background-color: #ffffff;
  border-radius: 7px;
  margin-top: 10px;
  height: auto;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px -1px rgba(0, 0, 0, 0.75);
  transform: rotate(-3deg);
}

.item-delete {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 23px;
  opacity: 0.56;
  transition: 50ms linear all;
}

.item-delete:hover {
  transform: rotate(5deg);
  color: red;
}

.item-title {
  width: 90%;
  cursor: text;
  padding: 4px;
}

.item-body {
  padding: 4px;
  cursor: text;
}

.item-edit {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 21px;
  opacity: 0.56;
  transition: 50ms linear all;
}

.item-edit:hover {
  transform: translateX(-2px);
  color: var(--blue3-body);
}

.item-not-allowed {
  cursor: not-allowed;
}

.save-button-container {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.save-button {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: var(--blue2-body);
  border-color: transparent;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  height: 30px;
  width: auto;
  padding-right: 3px;
  padding-left: 3px;
}

.save-button:hover {
  background-color: var(--blue3-body);
  cursor: pointer;
}

.item-body item-currently-editing {
  border: solid 1px;
  border-color: black;
}

.item-creator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 5px;
  height: 25px;
  width: 25px;
  border: 1.7px solid rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  /* background-color: #01fe12; */
  transition: 50ms linear all;
}

.item-creator:hover {
  transform: scale(1.1);
}

.creator-time {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: 'center';
}

.item-timestamp {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 12px;
}

.checkmark {
  opacity: 1;
  color: rgb(1, 209, 29);
}
