.resizable-div {
  background-color: var(--gray-accent);
  opacity: 0.8;
  position: absolute;
  top: -50%;
  min-height: 80vh;
  transition: all linear 0.1s;
  border-radius: 7px 0 0 7px;
  display: flex;
}
.dragger {
  position: absolute;
  left: 0;
  top: 45%;
  cursor: ew-resize;
  color: black;
  padding: 10px;
}
