.main-container {
  display: flex;
  position: absolute;
  right: 0;
  top: 70px;
  z-index: 100;
}
.chat-container {
  position: absolute;
  display: flex;
  right: 0;
  min-width: 0px;
  max-width: 75vw;
  min-height: 100px;
  max-height: 95vh;
}
.resizable-div {
  background-color: #484a4d;
  min-width: 0px;
  max-width: 75vw;
  min-height: 100px;
  max-height: 95vh;
  transition: all linear 0.1s;
  border-radius: 20px 0 0 20px;
  display: flex;
  position: relative;
}
.dragger {
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: 'col-resize';
  color: black;
  padding: 10px;
}
