.resizable-div {
  background-color: rgba(201, 210, 217, 0.761);
  position: absolute;
  top: -50%;
  min-height: 80vh;
  max-height: 90vh;
  min-width: 35vw;
  max-width: 75vw;
  transition: all linear 0.1s;
  border-radius: 7px 0 0 7px;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dragger {
  position: absolute;
  left: 0;
  top: 45%;
  cursor: ew-resize;
  color: black;
  padding: 10px;
}
