/* USER INFO CSS */
.dashboard-user-info {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #c8d1d9;
}
.visibility-container {
  padding: 10px;
  width: 100%;
  opacity: 0.8;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #00111c;
  border: 1px solid #c8d1d952;
}
.dashboard-user-info img {
  border-radius: 50%;
  width: 100%;
  /* width: 40px; */
  overflow: hidden;
  margin-bottom: 15px;
  border: 2px solid #c8d1d952;
}
.name {
  font-family: 'Ubuntu', sans-serif;
  z-index: 15;
}
.name-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.git-link {
  display: flex;
  width: 100%;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  align-items: center;
}
.git-link a {
  color: #d2d8dd;
}
.user-highlight {
  color: #d2d8dd;
}
.git-logo {
  color: #c8d1d9;
  margin-left: 10px;
  margin-top: 4px;
}
.bio-cont {
  margin-top: 10px;
  border: 1px solid #c8d1d9a3;
  padding: 10px;
  border-radius: 6px;
}
.name {
  font-size: larger;
  font-weight: bold;
  font-size: 1.5vw;
}
.githubName {
  font-size: 1.5vw;
  font-weight: lighter;
}
.githubLink {
  text-decoration: none;
  color: black;
  font-size: xx-large;
}
.githubInfo {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  width: 20%;
  margin-top: 10px;
}
.user-info-logout-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.logout-button {
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
  width: 80%;
  height: 34px;
  color: #c8d1d9a3;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.logout-button:hover {
  border: 2px solid #c8d1d9d9;
  color: #c8d1d9d9;
}
.user-info-block {
  margin-top: 10px;
  font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2vw;
  color: #c8d1d9c3;
}
.user-info-block p {
  margin-bottom: 10px;
}
