@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

.dashboard-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url('../../assets/dashback2.svg');
}

.dashboard-left {
  height: 100vw;
  width: 20vw;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.dashboard-middle {
  width: 55vw;
  background-color: transparent;
}

.dashboard-right {
  width: 25vw;
  background-color: transparent;
}

/* HEADER CSS */

.header {
  width: 50vw;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  background-color: #00111c;
  padding-left: 20px;
}

.add-new {
  margin-top: 30px;
  width: 33.3%;
  font-family: 'Ubuntu', sans-serif;
  opacity: 0.8;
  font-size: 1vw;
  text-align: right;
  color: var(--gold-accent);
}

.title-logo-cont {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
  color: var(--gold-accent);
  width: 33.3%;
  position: relative;
}

.header-logo {
  opacity: 0.5;
  position: absolute;
  top: 18%;
  right: 13%;
}

.header-title {
  font-size: 4.5vw;
  opacity: 0.8;
  align-self: flex-end;
  font-family: 'Ubuntu', sans-serif;
}

.header-logo {
  height: 80px;
}

.quote-button:active {
  transform: translateY(4px);
  box-shadow: 0 4px #666;
}

.hero {
  display: flex;
  height: 80vh;
  width: 100%;
}

.productivity {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 1px solid #c8d1d9;
  border-right: 1px solid #c8d1d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dashboard-column {
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
}
