.dashboard-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.header {
  width: 80vw;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  background-color: #00111c;
  padding-left: 20px;
}

.dashboard-left {
  height: 100vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.dashboard-right {
  width: 30vw;
}

/* USER INFO CSS */
.dashboard-user-info {
  width: 100%;
  display: flex;
  color: rgb(255, 228, 196);
  flex-direction: column;
}

.dashboard-user-info img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  overflow: hidden;
  margin: 10px 0;
}

.avatar > img {
  height: 100px;
  width: 100px;
}

.name {
  font-family: 'Lobster Two', cursive;
}

.name-pic {
  display: flex;
  align-items: center;
}

.git-link {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: space-between;
}
.git-logo {
  color: rgb(255, 228, 196);
  margin-left: 10px;
}

.name {
  margin-left: 20px;
  font-size: larger;
  font-weight: bold;
  font-size: 1.5vw;
  margin-bottom: 5px;
}

.githubName {
  font-size: 1.5vw;
  font-weight: lighter;
}

.githubLink {
  text-decoration: none;
  color: black;
  font-size: xx-large;
}

.githubInfo {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  width: 20%;
  margin-top: 10px;
}

.logout-button {
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
  width: 18%;
  height: 38px;
  background-color: rgb(255, 228, 196);
  color: #00111c;
  cursor: pointer;
  border-radius: 6px;
}

.logout-button:hover {
  background-color: #00111c;
  border: 2px solid rgb(255, 228, 196);
  color: rgba(255, 228, 196, 0.9);
}

.hero {
  display: flex;
  height: 80vh;
  width: 100vw;
}

.productivity {
  background-image: url('../../assets/heroback.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 1px solid #c8d1d9;
  border-right: 1px solid #c8d1d9;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dashboard-column {
  background-color: #00111c;
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
}
