.dashboardWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  justify-content: space-between;
  overflow: hidden;
}

.userInfo {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  border-radius: 100%;
  overflow: hidden;
  margin: 10px 0;
}

.avatar > img {
  height: 100px;
  width: 100px;
}

.name {
  font-size: larger;
  font-weight: bold;
}

.githubName {
  font-size: 15;
  font-weight: lighter;
}

.githubLink {
  text-decoration: none;
  color: black;
  font-size: xx-large;
}

.githubInfo {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  width: 20%;
  margin-top: 10px;
}

.repoSideBar {
  border: 1px solid blue;
  width: 25%;
}
