.random-quote-container {
  margin: 30px 0 80px 0;
  max-width: 70%;
  position: relative;
  justify-content: center;
}
.quote-main-p {
  color: white;
  font-size: 1.1vw;
  text-align: center;
}
.quote-author {
  color: white;
  text-align: center;
  font-size: 0.9vw;
  margin-top: 10px;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 7px;
}
.button-container:hover {
  transform: scale(1.2);
}
.random-icon {
  color: white;
  transform: scale(1.5);
}
