.newRepoForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

input {
  font-size: x-large;
  width: 90%;
  border-radius: 10px;
  border: 1px solid gray;
  text-align: center;
}

.formWrapper {
  padding: 5%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 3px solid black;
}
