.newRepoForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
}

input {
  font-size: 18px;
  width: 97%;
  height: 40px;
  border-radius: 4px;
  padding: 5px;
  padding-left: 8px;
  border: 1px solid #c8d1d9;
  color: #c8d1d9b4;
  margin-bottom: 10px;
  background-color: transparent;
}

input::placeholder {
  color: #c8d1d982;
}

.or {
  font-size: x-large;
  color: #c8d1d9b5;
  margin-top: 2px;
  margin-bottom: 15px;
  font-family: Ubuntu, sans-serif;
}

.dashboard-submit-button {
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
  width: 96%;
  height: 45px;
  color: #c8d1d9a3;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  align-self: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 2px solid rgba(255, 255, 255, 0.15);
}

.dashboard-submit-button:hover {
  border: 2px solid #c8d1d9d9;
  color: #c8d1d9d9;
}

.error-message-container {
  height: fit-content;
  width: 100%;
  border: 1px solid #c8d1d9ad;
  padding: 15px;
  background-color: #00111c;
  border-radius: 5px;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #c8d1d9cf;
}

.error-message button {
  font-size: 14px;
  font-weight: bold;
  margin-top: 14px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  color: #c8d1d9a3;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 2px solid rgba(255, 255, 255, 0.15);
}

.error-message button:hover {
  border: 2px solid #c8d1d9d9;
  color: #c8d1d9d9;
}

.formWrapper {
  /* padding: 5%; */
  /* height: 30vh; */
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: sticky;
  top: 0px;
}
