.commit-modal-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 80px 200px 50px;
}
.commit-modal {
  width: clamp(45%, 700px, 70%);
  height: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;
  border-radius: 10px;
  line-height: 25px;
}
.background {
  background-color: rgb(0, 0, 0);
}
.all-modal-icons {
  padding-top: 4px;
  transform: scale(1.3);
}
.commit-info-container {
  height: 100%;
  width: 100%;
  position: relative;
}
.commit-author-name {
  display: flex;
  align-items: center;
  width: 100%;
}
.commit-author-icon {
  margin-left: 5px;
}
.commit-author-name img {
  height: 130px;
  border-radius: 50%;
  margin-right: 25px;
  margin-bottom: 30px;
  border: 2px solid #ffffff97;
}
.commit-author-info-cont {
  margin: 5px;
  font-size: 18px;
  border-radius: 5px;
  color: #c8d1d9c0;
  border: 1px solid #c8d1d952;
  padding: 10px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;
}
.commit-author-info-cont p {
  margin-bottom: 6px;
}
.commit-author-info-cont span {
  color: #c8d1d9;
}
.cont-plus-title {
  width: 100%;
}
.cont-plus-title h3 {
  color: #c8d1d9d5;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
}
.commit-details {
  display: flex;
  width: 100%;
  height: fit-content;
  margin: 5px;
  margin-bottom: 40px;
  padding: 10px;
  font-size: 18px;
  color: #c8d1d9c0;
  border: 1px solid #c8d1d952;
  border-radius: 5px;
  font-weight: 400;
  flex-direction: column;
  justify-content: space-between;
}
.commit-details span {
  color: #c8d1d9;
}
.commit-details p {
  margin-bottom: 10px;
}
.commit-details-title h3 {
  color: #c8d1d9d5;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
}
.commit-stats-title {
  display: flex;
}
.commit-stats {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: left;
  height: 80px;
  margin: 5px;
  margin-bottom: 40px;
  padding: 10px;
  font-size: 18px;
  color: #c8d1d9c0;
  border: 1px solid #c8d1d952;
  border-radius: 5px;
  font-weight: 400;
}
.commit-stats p {
  margin-bottom: 10px;
}
.commit-stats span {
  color: #c8d1d9;
}
.commit-stats-container h3 {
  color: #c8d1d9d5;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
}
.commit-stats-plus-minus {
  padding-top: 4px;
  transform: scale(1.4);
}
.commit-stats-files-changed {
  color: white;
}
.copied-to-clipboard-alert {
  padding: 7px;
}
.close-commit-modal-icon {
  color: white;
  position: absolute;
  right: 50px;
  top: 50px;
  transform: scale(2);
}
.close-commit-modal-icon:hover {
  transform: scale(2.2);
  cursor: pointer;
}
.close-commit-modal-icon:active {
  transform: scale(2) translateY(1px);
}
.files-changed-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 600px;
  padding: 20px;
  font-size: xx-large;
}
.files-changed-container h3 {
  color: #c8d1d9d5;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
  padding: 5px;
}
.top-menu-buttons-container {
  border: 1px solid #c8d1d952;
  height: fit-content;
  border-radius: 5px;
  padding: 5px;
}
.file-contents-container {
  border: 1px solid #c8d1d952;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 5px;
  overflow-y: scroll;
  color: #c8d1d9;
  font-size: 16px;
}
.commit-modal-buttons {
  font-size: 17px;
  font-weight: bold;
  margin: 4px 0px 0px 10px;
  padding: 4px;
  width: fit-content;
  height: 34px;
  color: #c8d1d9a3;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1.5px solid rgba(255, 255, 255, 0.35);
}
.commit-modal-buttons:hover {
  border: 2px solid #c8d1d9d9;
  color: #c8d1d9d9;
}
