@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&family=Lobster&family=Lobster+Two&display=swap');

.repo-item-container {
  color: #c8d1d9;
  margin-bottom: 10px;
  display: flex;
  opacity: 0.85;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #c8d1d952;
  overflow: hidden;
  background-color: #0e1117;
  /* -webkit-box-shadow: 0px 0px 6px 3px rgba(69, 69, 69, 1);
  -moz-box-shadow: 0px 0px 6px 3px rgba(69, 69, 69, 1);
  box-shadow: 0px 0px 6px 3px rgba(69, 69, 69, 1); */

  margin-top: 5px;
}

.owner-cont {
  display: flex;
  align-items: center;
}
.owner-cont img {
  height: 25px;
  border-radius: 25%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.repo-name {
  color: #57a6ff;
  margin-bottom: 15px;
  cursor: pointer;
}

.privacy {
  color: rgba(255, 228, 196, 0.794);
  border: 1px solid rgba(255, 228, 196, 0.742);
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 20px;
}

.repo-owner {
  margin-bottom: 9px;
}

.lang-cont {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.branches {
  margin-top: 5px;
}

.updated {
  color: #c8d1d987;
}

.repo-button-time-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-button {
  font-size: 13px;
  font-weight: bold;
  margin-top: 4px;
  width: 40%;
  height: 30px;
  color: #c8d1d9a3;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  align-self: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.preview-button:hover {
  border: 2px solid #c8d1d99c;
  color: #c8d1d9d9;
}

.lang-ball-default {
  color: #ffe4c4;
  margin-right: 5px;
}

.lang-ball-purple {
  color: #563d7c;
  margin-right: 5px;
}
.lang-ball-blue {
  color: #57a6ff;
  margin-right: 5px;
}
.lang-ball-yellow {
  color: #f1e05a;
  margin-right: 5px;
}
.lang-ball-red {
  color: #e34c25;
  margin-right: 5px;
}
