.time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  position: absolute;
  top: 5%;
}

.time-date {
  font-size: 4vw;
  color: var(--gray-accent);
}

.time-nums {
  font-size: 2vw;
  color: var(--gray-accent);
}
