.time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  position: absolute;
  top: 25%;
  transform: scale(2);
}

.time-date {
  font-size: 3vw;
  color: var(--gray-accent);
}

.time-nums {
  font-size: 2vw;
  color: var(--gray-accent);
  transform: scale(0.7);
}
