.weather-container {
  color: var(--gray-accent);
  position: absolute;
  width: 250px;
  top: 3%;
  right: 1.8%;
  margin-right: 5px;
}
.weather-data {
  height: 70px;
  width: 100%;
  border-radius: 7px;
  background-color: var(--gray-accent);
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
}
.weather-top {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
}
.icon-and-temp-container {
  display: flex;
  align-items: flex-end;
}
.weather-icon {
  transform: scale(1.9);
  margin: 0 15px 7px 0;
}
.temp {
  font-size: xx-large;
  font-weight: bold;
}
.bottom {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin: 1rem;
  padding: 5px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.bold {
  font-weight: bold;
}
