.weather-container {
  color: var(--gray-accent);
  position: absolute;
  width: 250px;
  top: 3%;
  right: 1.8%;
}

.weather-data {
  height: 70px;
  width: 100%;
  border-radius: 7px;
  background-color: var(--gray-accent);
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  border: 1px solid blue;
}

.weather-top {
  display: flex;
  flex-direction: column;
  align-items: end;

  text-align: end;
}
.temp {
  font-size: xx-large;
  font-weight: bold;
}

.bottom {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  border-radius: 8px;
}
.bold {
  font-weight: bold;
}
.feels {
}
.wind {
}
