.weather-container {
  color: var(--gray-accent);
  position: absolute;
  width: 250px;
  top: 3%;
  right: 1.8%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-data {
  height: 70px;
  width: 100%;
  border-radius: 7px;
  background-color: var(--gray-accent);
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
}
.weather-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}
.icon-and-temp-container {
  display: flex;
  align-items: flex-end;
}
.weather-icon {
  transform: scale(1.9);
  margin: 0 15px 7px 0;
}
.temp {
  font-size: xx-large;
  font-weight: bold;
}
.bottom {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin: 3px;
  padding: 5px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.bold {
  font-weight: bold;
}

.weather-container img {
  height: 60px;
  margin-left: 100px;
  margin-top: 40px;
}

.sun-spin {
  color: rgb(255, 221, 0);
  animation: rotating 4s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
