.show-chat-button-main-container {
  display: flex;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.chat-container {
  position: absolute;
  display: flex;
  right: 0;
  min-width: 0px;
  max-width: 75vw;
  min-height: 100px;
  max-height: 95vh;
}
.chat-button {
  position: absolute;
  right: 7px;
  width: 80px;
  top: -49px;
  font-size: 15px;
  font-weight: bold;
  z-index: 100;
  background-color: var(--gray-accent);
  opacity: 0.8;
  padding: 10px;
  border-radius: 6px;
  border: none;
  transition: all linear 0.1s;
}
.chat-button:hover {
  transform: scale(1.08);
}
.chat-left-arrow {
  position: absolute;
  left: -5%;
  top: 32%;
  animation: bounce 2s infinite;
}
.chat-right-arrow {
  position: absolute;
  left: -5%;
  top: 32%;
  transform: rotate(180deg);
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-4px);
  }
  60% {
    -webkit-transform: translateX(-2px);
  }
}
.chat-icon {
  color: var(--backgound-color);
}
