.svg-cont {
  width: fit-content;
  /* height: fit-content; */
  /* height: 100vh; */
  /* overflow: hidden; */
  /* position: relative; */
  /* display: flex;
  align-items: center; */
}

.the-svg {
  /* background-color: #0e1117; */
  /* border-top: 1px solid #c8d1d9ae; */
  /* border-bottom: 1px solid #c8d1d9ae; */
  /* border-radius: 10px; */
  position: relative;
  margin-bottom: 10px;
  height: fit-content;
}
