@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&family=Lobster&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;600&display=swap');

.kanban-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 0px 0px 30px;
}

.dropdown-select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: fixed;
  z-index: 10;
  width: 200px;
}

.select-branch {
  width: 100%;
  font-family: 'Assistant', sans-serif;
  font-size: 1.3vw;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
}

.header-center {
  height: 100px;
  font-family: 'Ubuntu', sans-serif;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-center p {
  font-size: 2vw;
  margin-bottom: 5px;
  color: #c8d1d9aa;
}

.header-center span {
  color: #c8d1d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
}

.header-center a {
  color: #c8d1d9;
  text-decoration: none;
  margin-right: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 30vw;
}

.collaborators {
  display: flex;
  justify-content: space-around;
  width: fit-content;
}
.collaborators img {
  height: 55px;
  border-radius: 50%;
  padding: 0 3px;
  transition: 0.15s linear;
}
.collaborators img:hover {
  margin: 0 5px;
  transform: scale(1.15);
}
.current-repo-prefix {
  color: #c8d1d9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-repo a {
  color: #c8d1d9;
  font-size: xx-large;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info {
  width: fit-content;
  display: flex;
  justify-content: center;
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
  align-items: center;
  margin-right: 25px;
  font-size: 1.6vw;
  color: #c8d1d9;
}
.user-info img {
  height: 70px;
  border-radius: 50%;
  margin-left: -25px;
  transition: 0.15s linear;
  border: 1.5px solid #c8d1d9c1;
}
.user-info img:hover {
  transform: scale(1.15);
}
.navigate-dashboard {
  color: #c8d1d9ad;
  margin-left: 15px;
  display: flex;
  font-size: 1.1vw;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid #c8d1d952;
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  width: 140px;
}

.navigate-dashboard:hover {
  border: 1px solid #c8d1d9e4;
  color: #c8d1d9e4;
}

.navigate-dashboard p {
  width: 50%;
}

/* BRANCH LOGIC */

.branch-selector:hover {
  border: 1px solid #c8d1d9;
}
.branch-option {
  background-color: #fff;
}
.num-branches {
  color: #c8d1d9d2;
  font-size: 1.3vw;
  letter-spacing: 0.5px;
  cursor: pointer;
  height: 47px;
  width: fit-content;
  margin: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.num-branches span {
  color: #c8d1d9;
}
