@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&family=Lobster&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;600&display=swap');

.kanban-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 20px 60px;
  margin-top: 23px;
}

.left {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
}
.select {
  position: fixed;
  z-index: 1000;
  width: fit-content;
  min-width: 200px;
  max-width: 300px;
  font-size: large;
}
.branch-selector:hover {
  border: 1px solid #c8d1d9;
}
.branch-option {
  background-color: #fff;
}
.num-branches {
  color: #c8d1d9;
  font-size: 1rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  height: 47px;
  width: fit-content;
  margin: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.collaborators {
  display: flex;
  justify-content: space-around;
  width: fit-content;
}
.collaborators img {
  height: 47px;
  border-radius: 50%;
  padding: 0 3px;
  transition: 0.15s linear;
}
.collaborators img:hover {
  margin: 0 5px;
  transform: scale(1.15);
}
.current-repo-prefix {
  color: #c8d1d9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-repo a {
  color: #c8d1d9;
  font-size: xx-large;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  height: 47px;
}
.user-info {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  font-family: 'Assistant', sans-serif;

  font-weight: bold;
  align-items: center;
  font-size: 1.6vw;
  color: #c8d1d9;
}
.user-info img {
  height: 57px;
  border-radius: 50%;
  margin-left: 15px;
  transition: 0.15s linear;
}
.user-info img:hover {
  transform: scale(1.15);
}
.navigate-dashboard {
  margin-left: 15px;
  transform: scale(1.6);
  transition: 0.25s linear;
}
.navigate-dashboard:hover {
  margin-left: 15px;
  transform: scale(1.8) rotate(360deg);
  cursor: pointer;
}
