@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Trispace&display=swap');
.welcome-wrapper {
  background-image: url('../../assets/finalback.svg');
  background-size: cover;
  background-color: #00111c;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.lottie-container {
  position: absolute;
  right: -6%;
  top: 4%;
  height: 75vh;
  background-repeat: no-repeat;
}

.company-name {
  font-size: 3.5vw;
  font-family: 'Trispace', sans-serif;
  color: #f3f0f0;
  width: 45%;
  position: absolute;
  left: 2%;
  top: 4%;
}
.bot {
  margin-left: 100px;
}
.title-login-container {
  display: flex;
  align-items: center;
}
.main-title {
  width: 35%;
  color: #f3f0f0;
  position: absolute;
  bottom: 35%;
  line-height: 90px;
  left: 5%;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 2.6vw;
  z-index: 15;
}

.welcome-login-button {
  border: 3px solid #f3f0f0;
  color: #f3f0f0;
  background-color: transparent;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3vw;
  align-items: center;
  width: 20vw;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  right: 12%;
  z-index: 10;
}

.welcome-login-button:hover {
  border: 3px solid #fffefe;
}

.a-tag {
  color: #f3f0f0;
  text-decoration: none;
}
.a-tag:visited {
  color: #f3f0f0;
}
