.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.loginButton {
  background-color: rgb(41, 39, 39);
  color: white;
  padding: 30px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
