.main-chat-container {
  width: 100%;
  padding: 50px;
  min-width: 30vw;
  padding-right: 100px;
  padding-left: 80px;
  margin-bottom: 90px;
  overflow-y: scroll;
}

.input-container {
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
