.modal {
  width: clamp(45%, 700px, 70%);
  height: min(70%, 450px);
  z-index: 10;
  color: #c8d1d9;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #c8d1d952;
}

.background {
  background-color: #0e1117;
}
